.container {
  width: 100%;
  min-width: 21rem;
}
.header {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: bold;
  color: grey;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
  text-transform: uppercase;
}
.body {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding: 0.5rem 0;
}